/* template-color */

.scroll-top{
  background-color: #ff7c5b;
}

.handle-preloader{
	background-color: #ff7c5b;
}

.preloader-close{
	color: #ff7c5b;
}

.main-menu .navigation > li.current > a,
.main-menu .navigation > li:hover > a{
  color: #ff7c5b !important;
}

.main-header .menu-right-content .user-link a:hover{
  background: #ff7c5b !important;
}

.main-header .search-box-btn:hover{
  background: #ff7c5b !important;
}

.main-menu .navigation > li > ul > li > a:hover,
.main-menu .navigation > li > .megamenu li > a:hover{
	color: #ff7c5b;
}

.main-menu .navigation > li > ul, 
.main-menu .navigation > li > .megamenu,
.main-menu .navigation > li > ul > li > ul{
	border-top: 3px solid #ff7c5b
}

.main-menu .navigation > li > ul > li > ul > li > a:hover{
  color: #ff7c5b;
}

.main-header .search-box-outer .dropdown-menu{
	background: #ff7c5b;
}

.theme-btn{
	background: #ff7c5b;
}

.feature-block-one .inner-box .lower-content .icon-box{
	color: #ff7c5b;
}

.image_block_1 .image-box .video-content .video-btn a{
	color: #ff7c5b;
}

.border-animation{
	border: 1px solid #ff7c5b;
}

.tour-block-one .inner-box .image-box:before{
	background: #ff7c5b;
}

.tour-block-one .inner-box .lower-content .rating span i{
	color: #ffab01;
}

.tour-block-one .inner-box .lower-content h3 a:hover{
  color: #ff7c5b;
}

.tour-block-one .inner-box .lower-content h4{
	color: #ff7c5b;
}

.tour-block-one .inner-box .lower-content .btn-box a:hover{
	background: #ff7c5b;
	border-color: #ff7c5b;
}

.content_block_2 .content-box .price h4{
	color: #ff7c5b;
}

.place-block-one .inner-box .text h3 a:hover{
  color: #ff7c5b;
}

.testimonial-block-one .inner-box .rating-box li{
	color: #ffab01;
}

.testimonial-section .owl-theme .owl-dots .owl-dot.active span,
.testimonial-section .owl-theme .owl-dots .owl-dot span:hover{
	border-color: #ff7c5b;
	background: #ff7c5b;
}

.video-section .inner-box .video-btn a{
	border: 5px solid #ff7c5b;
	color: #ff7c5b;
}

.theme-btn-two:hover{
	border-color: #ff7c5b;
}

.news-block-one .inner-box .image-box{
	background: #ff7c5b;
}

.news-block-one .inner-box .image-box .post-date i{
	background: #ff7c5b;
}

.news-block-one .inner-box .lower-content .category a:hover{
  background: #ff7c5b;
}

.news-block-one .inner-box .lower-content h3 a:hover{
  color: #ff7c5b;
}

.news-block-one .inner-box .lower-content .post-info li a:hover{
  color: #ff7c5b;
}

.footer-top .logo-widget .social-links li a:hover{
  background: #ff7c5b;
}

.footer-top .links-widget .links-list li a:hover{
  color: #ff7c5b;
}

.footer-top .links-widget .links-list li a:before{
	background: #ff7c5b;
}

.footer-top .gallery-widget .image-list li .image-box{
	background: #ff7c5b;
}

.footer-top .contact-widget .info-list li i{
	color: #ff7c5b;
}

.footer-top .contact-widget .info-list li a:hover{
  color: #ff7c5b;
}

.footer-bottom .copyright p a:hover{
  color: #ff7c5b;
}

.footer-bottom .footer-nav li a:hover{
  color: #ff7c5b;
}

.header-top .top-info li a:hover{
  color: #ff7c5b;
}

.offer-block-one .inner-box .content-box h3 a:hover{
  color: #ff7c5b;
}

.offer-block-one .inner-box .content-box h4{
	color: #ff7c5b;
}

.offer-section .owl-theme .owl-dots .owl-dot.active span,
.offer-section .owl-theme .owl-dots .owl-dot span:hover{
  background: #ff7c5b !important;
}

.video-style-two .inner-container .inner-box .video-btn a{
	border: 5px solid #ff7c5b;
	color: #ff7c5b;
}

.funfact-style-two .pattern-layer:before{
	background: #ff7c5b;
}

.banner-carousel .owl-nav .owl-prev:hover,
.banner-carousel .owl-nav .owl-next:hover{
  background: #ff7c5b;
}

.content_block_3 .content-box .text a{
	color: #ff7c5b;
}

.tour-block-two .inner-box .content-box h3 a:hover{
	color: #ff7c5b;
}

.tour-block-two .inner-box .content-box .btn-box a:hover{
	background: #ff7c5b;
}

.tour-block-two .inner-box .image-box:before{
	background: #ff7c5b;
}

.tour-block-two .inner-box .content-box .rating span i{
	color: #ffab01;
}

.tour-block-two .inner-box .content-box h4{
	color: #ff7c5b;
}

.dots-style-one .owl-dots .owl-dot.active span,
.dots-style-one .owl-dots .owl-dot span:hover{
	background-color: #ff7c5b;
	border-color: #ff7c5b;
}

.deals-style-two .single-deals-box .inner-box .content-box h3 a:hover{
  color: #ff7c5b;
}

.deals-style-two .single-deals-box .inner-box .content-box h4{
	color: #ff7c5b;
}

.deals-style-two .owl-nav .owl-prev:hover,
.deals-style-two .owl-nav .owl-next:hover{
  background: #ff7c5b;
}

.single-feed-box .inner-box .link a:hover{
  color: #ff7c5b;
}

.destination-details-content .country-details .details-list li i{
	color: #ff7c5b;
}

.destination-details-content .country-details .details-list li a:hover{
  color: #ff7c5b;
}

.destination-details-content .comment-box .comment-form .form-group input:focus,
.destination-details-content .comment-box .comment-form .form-group textarea:focus{
  border-color: #ff7c5b !important;
}

.default-sidebar .search-form .form-group input:focus{
  border-color: #ff7c5b !important;
}

.default-sidebar .search-form .form-group input:focus + button,
.default-sidebar .search-form .form-group button:hover{
	color: #ff7c5b;
}

.default-sidebar .downloads-widget .download-links li a:hover{
	color: #ff7c5b;
}

.default-sidebar .downloads-widget .download-links li a:hover i{
  color: #ff7c5b;
}

.default-sidebar .post-widget .post .post-thumb{
	background: #ff7c5b;
}

.default-sidebar .post-widget .post h4 a:hover{
  color: #ff7c5b;
}

.default-sidebar .advice-widget .inner-box:before{
	background: #ff7c5b;
}

.tours-page-section .item-shorting .right-column .menu-box button.on{
	background: #ff7c5b;
	border-color: #ff7c5b;
}

.pagination li a:hover,
.pagination li a.current{
	background: #ff7c5b;
}

.custom-check-box .custom-control.material-checkbox .material-control-input:checked ~ .material-control-indicator{
	background: #ff7c5b !important;
	border-color: #ff7c5b !important;
}

.range-slider .ui-slider .ui-slider-range{
	background: #ff7c5b;
}

.range-slider .ui-state-default,
.range-slider .ui-widget-content .ui-state-default{
	background: #ff7c5b;
}

.custom-check-box .custom-controls-stacked .description i{
	color: #ffab01;
}

.page-title.style-three .inner-box .rating span i{
	color: #ffab01;
}

.page-title.style-three .inner-box h3{
	color: #ff7c5b;
}

.tour-details-content .inner-box .text .info-list li i{
	color: #ff7c5b;
}

.tour-details-content .overview-inner .overview-list li ul.included-list li:before{
	color: #2ccd9d;
}

.tour-details-content .overview-inner .overview-list li ul.excluded-list li:before{
	color: #ff7c5b;
}

.tour-details-content .tour-plan .single-box span{
	background: #ff7c5b;
}

.tour-details-content .tour-plan .single-box h4{
	color: #ff7c5b;
}

.progress-box .bar-inner{
	background: #ff7c5b;
}

.tour-details-content .review-box .text h2{
	color: #ff7c5b;
}

.tour-details-content .comment-box .comment-form .form-group input:focus,
.tour-details-content .comment-box .comment-form .form-group textarea:focus{
	border-color: #ff7c5b !important;
}

.tour-details-content .comment-box .text .list li i{
	color: #ffab01;
}

.tour-sidebar .tour-form .form-group input:focus,
.tour-sidebar .tour-form .form-group textarea:focus{
  border-color: #ff7c5b !important;
}

.team-block-one .inner-box .lower-content h3 a:hover{
  color: #ff7c5b;
}

.team-block-one .inner-box .lower-content .social-links li a:hover{
  background: #ff7c5b;
}

.booking-process-content .process-label li.current{
  background: #ff7c5b;
}

.booking-process-content .processing-form .form-group input:focus,
.booking-process-content .processing-form .form-group textarea:focus{
  border-color: #ff7c5b !important;
}

.process-sidebar .content-box .info li i{
	color: #ff7c5b;
}

.process-sidebar .content-box .price h4{
	color: #ff7c5b;
}

.booking-process-2 .booking-process-content .process-label li:first-child{
  color: #ff7c5b;
}

.booking-process-3 .booking-process-content .process-label li:first-child,
.booking-process-3 .booking-process-content .process-label li:nth-child(2){
  color: #ff7c5b;
}

.booking-process-content .confirm-box .inner-box .icon-box{
	color: #39cabb;
}

.booking-process-content .confirm-box .inner-box p a{
	color: #ff7c5b;
}

.accordion-box .block .acc-btn.active{
  background: #ff7c5b;
}

.faq-sidebar .sidebar-inner .faq-form .form-group input:focus,
.faq-sidebar .sidebar-inner .faq-form .form-group textarea:focus{
  border-color: #ff7c5b !important;
}

.register-section .inner-box .form-inner .social-links li a:hover{
	background: #ff7c5b;
}

.register-section .inner-box .form-inner .form-group input:focus{
  border-color: #ff7c5b !important;
}

.register-section .inner-box .form-inner .custom-check-box .custom-controls-stacked .description a{
  color: #ff7c5b;
  border-bottom: 1px solid #ff7c5b;
}

.register-section .inner-box .form-inner .other-text a{
  color: #ff7c5b;
}

.register-section .inner-box .form-inner .forgor-password a{
  color: #ff7c5b;
}

.error-section .inner-box h1{
	color: #ff7c5b;
}

.blog-sidebar .category-widget .category-list li a i{
	color: #ff7c5b;
}

.blog-sidebar .category-widget .category-list li a:hover{
	color: #ff7c5b;
}

.news-block-one .inner-box .lower-content h2 a:hover{
  color: #ff7c5b;
}

.news-block-one .inner-box .lower-content .post-info li.comment a:hover{
  color: #ff7c5b;
}

.blog-details-content .post-share-option .social-links li:first-child a{
	background: #466ca9;
}

.blog-details-content .post-share-option .social-links li:nth-child(2) a{
	background: #dd4b39;
}

.blog-details-content .post-share-option .social-links li:last-child a{
	background: #55acee;
}

.blog-details-content .comment-box .comment .reply-btn:hover{
  color: #ff7c5b;
}

.blog-details-content .comments-form-area .form-inner .form-group input:focus,
.blog-details-content .comments-form-area .form-inner .form-group textarea:focus{
  border-color: #ff7c5b !important;
}

.single-info-box .inner-box .icon-box{
	color: #ff7c5b;
}

.single-info-box .inner-box p a:hover{
  color: #ff7c5b;
}

.single-info-box .inner-box:hover .icon-box{
	background: #ff7c5b;
}

.content_block_5 .content-box .social-links li:first-child a{
	background: #466ca9;
}

.content_block_5 .content-box .social-links li:nth-child(2) a{
  background: #dd4b39;
}

.content_block_5 .content-box .social-links li:last-child a{
  background: #55acee;
}

.contact-section .form-inner .form-group input:focus,
.contact-section .form-inner .form-group textarea:focus{
	border-color: #ff7c5b !important;
}

.news-block-one .inner-box .lower-content .category a{
	background: #ff7c5b;
}