/* Responsive Css */



@media only screen and (max-width: 1599px){

  .main-header.style-three .header-lower .logo-box{
    margin-right: 30px;
  }

  .main-header.style-three .header-lower .menu-right-content .btn-box{
    margin-left: 30px;
  }

}


@media only screen and (max-width: 1399px){

  .main-header.style-three{
    padding: 0px 30px;
  }

  .main-header.style-three .header-lower .main-menu .navigation > li{
    margin: 0px 15px;
  }

}


@media only screen and (max-width: 1200px){

  .main-menu,
  .sticky-header,
  .main-header.style-one .outer-container:before{
    display: none !important;
  }

  .menu-area .mobile-nav-toggler {
    display: block;
    padding: 10px;
  }

  .megamenu ul li:first-child{
    display: none;
  }

  .booking-form .message-btn{
    position: relative;
    top: 0px;
    right: 0px;
    width: 50%;
    float: left;
    padding: 0px 15px;
  }

  .booking-form .form-group{
    width: 50%;
    margin-bottom: 30px;
    padding: 0px 15px;
  }

  .booking-form .form-group input[type='text'],
  .booking-form .form-group .nice-select{
    max-width: 100%;
  }

  .banner-section .content-box .form-inner{
    padding-right: 20px;
  }

  .booking-form .message-btn .theme-btn{
    display: block;
    width: 100%;
  }

  .image_block_1 .image-box .video-content{
    right: -15px;
  }

  .footer-top .footer-widget{
    margin: 0px !important;
  }

  .footer-top .logo-widget .social-links li{
    margin-bottom: 10px;
  }

  .about-style-two .content_block_1 .content-box{
    margin: 0px;
  }

  .banner-section.style-three .booking-form .message-btn{
    top: 0px;
  }

  .banner-section.style-three .form-inner{
    padding-right: 30px;
  }

  .anim-icon{
    display: none !important;
  }

  .about-style-three .content_block_4 .content-box{
    margin-left: 0px;
  }

  .main-header.style-three .menu-area .mobile-nav-toggler .icon-bar{
    background: #222;
  }

  .main-header.style-three .menu-area .mobile-nav-toggler{
    margin-top: 32px;
  }

  .deals-style-two .single-deals-box .inner-box .content-box{
    padding: 40px 30px;
  }

  .deals-style-two .owl-nav{
    display: none;
  }

  .single-feed-box .inner-box .link a{
    font-size: 20px;
    line-height: 24px;
    padding: 10px 20px;
  }

  .destination-details-content .inner-box .image-box .image{
    margin-bottom: 10px;
  }

  .page-title.style-two .booking-form .message-btn{
    top: 0px;
  }

  .page-title.style-two .form-inner{
    padding-right: 30px;
    padding-bottom: 30px;
  }

  .tours-page-section .item-shorting .left-column h3{
    font-size: 20px;
  }

  .tour-details .tour-sidebar{
    margin-top: 0px;
    padding-top: 150px;
  }

  .tour-details-content .overview-inner .overview-list li ul li{
    font-size: 15px;
  }

  .blog-details-content .image-box .image{
    margin-bottom: 10px;
  }

  .rtl .banner-section .content-box .form-inner{
    padding-left: 20px;
  }

  .rtl .booking-form .message-btn{
    left: 0px;
  }

  .banner-section.style-three .form-inner{
    padding-bottom: 20px;
  }


}



@media only screen and (min-width: 768px){
  .main-menu .navigation > li > ul,
  .main-menu .navigation > li > ul > li > ul,
  .main-menu .navigation > li > .megamenu{
    display:block !important;
    visibility:hidden;
    opacity:0;
  }
}



@media only screen and (max-width: 991px){

  .feature-block-one .inner-box{
    margin-bottom: 30px;
  }

  .feature-section,
  .tour-section{
    padding-bottom: 120px;
  }

  .image_block_1 .image-box,
  .tour-block-one .inner-box{
    margin-bottom: 30px;
  }

  .image_block_1 .image-box .video-content{
    right: 0px;
  }

  .image_block_1 .image-box .shape{
    display: none;
  }

  .counter-block-one .inner-box{
    margin-bottom: 30px;
  }

  .funfact-section .inner-container{
    padding-bottom: 10px;
  }

  .news-block-one .inner-box{
    margin-bottom: 30px;
  }

  .pb-220{
    padding-bottom: 190px !important;
  }

  .footer-top .footer-widget{
    margin: 0px 0px 30px 0px !important;
  }

  .footer-top{
    padding-bottom: 80px;
  }

  .header-top .top-info li{
    font-size: 14px;
    margin-right: 15px;
  }

  .image_block_2 .image-box{
    max-width: 520px;
    margin: 0 auto;
  }

  .about-style-two .content_block_1 .content-box{
    margin-bottom: 30px;
  }

  .offer-section .owl-dots{
    display: none;
  }

  .counter-block-two .inner-box:before{
    display: none;
  }

  .news-section{
    padding-bottom: 120px;
  }

  .banner-carousel .owl-nav{
    display: none;
  }

  .deals-style-two .single-deals-box{
    max-width: 600px;
    margin: 0 auto;
  }

  .deals-style-two .single-deals-box .inner-box{
    padding-left: 0px;
  }

  .deals-style-two .single-deals-box .inner-box .image-box{
    position: relative;
  }

  .place-block-one{
    max-width: 350px;
    margin: 0 auto;
  }

  .destination-details-content{
    padding-right: 0px;
  }

  .destination-sidebar{
    margin-left: 0px;
    margin-top: 30px;
  }

  .tour-sidebar{
    margin-left: 0px;
    margin-top: 30px;
  }

  .tour-details{
    padding-bottom: 150px;
  }

  .team-block-one .inner-box{
    margin-bottom: 30px;
  }

  .team-section{
    padding-bottom: 120px;
  }

  .process-sidebar{
    margin-left: 0px;
    margin-top: 30px;
  }

  .booking-process-content{
    margin-right: 0px;
  }

  .booking-process-content .processing-form .form-group .card-list li{
    margin-bottom: 5px;
  }

  .gallery-block-one{
    max-width: 370px;
    margin: 0 auto;
  }

  .faq-sidebar{
    margin-left: 0px;
    margin-top: 30px;
  }

  .faq-content{
    margin-right: 0px;
  }

  .blog-sidebar{
    margin-left: 0px;
    margin-top: 30px;
  }

  .single-info-box .inner-box{
    margin-bottom: 30px;
  }

  .contact-info-section{
    padding-bottom: 120px;
  }

  .content_block_5 .content-box{
    margin-bottom: 30px;
  }

  .tour-details .tour-sidebar{
    padding-top: 0px;
  }

}


@media only screen and (max-width: 767px){

  .sec-pad{
    padding: 65px 0px 70px 0px;
  }

  .banner-section .content-box h2{
    font-size: 40px;
    line-height: 50px;
  }

  .banner-section .content-box p{
    font-size: 18px;
  }

  .banner-section{
    padding: 160px 0px 100px 0px;
  }

  .sec-title h2{
    font-size: 36px;
    line-height: 45px;
  }

  .feature-block-one{
    max-width: 300px;
    margin: 0 auto;
  }

  .feature-section{
    padding-bottom: 40px;
  }

  .banner-section .pattern-layer{
    display: none;
  }

  .about-section{
    padding: 70px 0px;
  }

  .tour-block-one{
    max-width: 370px;
    margin: 0 auto;
  }

  .tour-section{
    padding-bottom: 40px;
  }

  .deals-section{
    padding: 70px 0px;
  }

  .map-section .map-inner .map-content .single-location-box{
    left: 30px !important;
    right: inherit !important;
  }

  .map-section .map-inner .map-content{
    min-height: 500px;
  }

  .map-section{
    padding: 65px 0px 120px 0px;
  }

  .testimonial-section .owl-dots{
    display: none;
  }

  .testimonial-section{
    padding-bottom: 120px;
  }

  .video-section{
    padding: 90px 0px 100px 0px;
  }

  .news-block-one{
    max-width: 370px;
    margin: 0 auto;
  }

  .news-section .sec-title .theme-btn-two{
    position: relative;
    top: 0px;
    margin-top: 20px;
  }

  .news-section .pattern-layer{
    display: none;
  }

  .pb-220{
    padding-bottom: 40px !important;
  }

  .footer-top{
    padding-bottom: 70px;
  }

  .banner-section.style-two .content-box h2{
    font-size: 40px;
  }

  .header-top .top-info{
    float: none;
    display: block;
    text-align: center;
  }

  .header-top .btn-box{
    display: none;
  }

  .banner-section.style-two{
    padding: 95px 0px 100px 0px;
  }

  .about-style-two{
    padding: 70px 0px;
  }

  .offer-block-one .inner-box .content-box h4{
    right: 10px;
  }

  .news-section{
    padding-bottom: 40px;
  }

  .main-header.style-three .header-lower .menu-right-content .btn-box{
    display: none;
  }

  .banner-carousel .text h2{
    font-size: 40px;
    line-height: 50px;
  }

  .banner-carousel .slide-item{
    padding: 95px 0px 180px 0px;
  }

  .about-style-three{
    padding: 70px 0px;
  }

  .about-style-three .content_block_3 .content-box{
    margin-right: 0px;
    margin-bottom: 30px;
  }

  .about-style-three .content_block_4 .content-box{
    margin-top: 0px;
  }

  .sec-title{
    margin-bottom: 30px !important;
  }

  .tour-style-two{
    padding: 65px 0px 40px 0px;
  }

  .place-style-three .owl-dots{
    display: none;
  }

  .video-section .inner-box h2{
    font-size: 36px;
    line-height: 45px;
  }

  .banner-section.style-four .text h2{
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 15px;
  }

  .banner-section.style-four .text p{
    font-size: 20px;
  }

  .banner-section.style-four{
    padding: 180px 0px 60px 0px;
  }

  .about-style-three.home-4{
    padding-top: 70px;
  }

  .place-section .text{
    margin-bottom: 30px;
  }

  .news-section.home-4{
    padding-bottom: 40px;
  }

  .instagram-section{
    padding: 70px 0px 40px 0px;
  }

  .single-feed-box .inner-box{
    margin-bottom: 30px;
  }

  .single-feed-box{
    max-width: 300px;
    margin: 0 auto;
  }

  .banner-style-five .content-box h2{
    font-size: 40px;
    line-height: 50px;
  }

  .banner-style-five .image-box{
    margin-right: 0px;
  }

  .place-section.home-5{
    padding-bottom: 70px;
  }

  .offer-section.home-5{
    padding-bottom: 70px;
  }

  .tour-section.home-5{
    padding-top: 0px;
  }

  .sec-pad-2,
  .destination-details{
    padding: 70px 0px;
  }

  .place-section{
    padding-bottom: 40px;
  }

  .tours-page-section .item-shorting .right-column{
    max-width: 310px;
    margin: 0 auto;
    float: none;
  }

  .tours-page-section .item-shorting .left-column{
    float: none;
    display: block;
    text-align: center;
  }

  .tours-page-section{
    padding: 150px 0px 70px 0px;
  }

  .tour-details-content{
    margin-right: 0px;
    padding: 65px 0px 70px 0px;
  }

  .tour-details-content .overview-inner .overview-list > li span{
    width: 150px;
  }

  .tour-details-content .overview-inner .overview-list > li:before{
    left: 220px;
  }

  .tour-details{
    padding-bottom: 70px;
  }

  .page-title.style-three{
    padding-top: 150px;
  }

  .team-block-one{
    max-width: 370px;
    margin: 0 auto;
  }

  .team-section{
    padding-bottom: 40px;
  }

  .booking-section{
    padding: 70px 0px;
  }

  .offer-section.tour-deals-page .offer-block-one{
    max-width: 370px;
    margin: 0 auto;
  }

  .offer-section.tour-deals-page{
    padding-bottom: 40px;
  }

  .team-section.tour-guide-page,
  .gallery-section,
  .gallery-style-two{
    padding: 70px 0px 40px 0px;
  }

  .faq-page-section{
    padding: 65px 0px 70px 0px;
  }

  .register-section .inner-box .form-inner .social-links li a:hover{
    width: 60px;
    padding: 0px;
    text-align: center;
  }

  .register-section .inner-box .form-inner .social-links li a span{
    display: none;
  }

  .sidebar-page-container{
    padding: 70px 0px;
  }

  .blog-details-content .news-block-one,
  .blog-standard-content .news-block-one{
    max-width: 100%;
  }

  .contact-info-section{
    padding: 70px 0px 40px 0px;
  }

  .contact-section{
    padding: 65px 0px 70px 0px;
  }

  .header-top{
    padding: 15px 0px;
  }

  .header-top .top-info li{
    line-height: 26px;
  }

  .video-style-two .inner-container .inner-box h2{
    font-size: 36px;
    line-height: 45px;
  }

  .tour-details-content .photo-gallery .image-box .image{
    float: none;
    margin: 0px 0px 30px 0px;
  }

  .tour-details-content .photo-gallery .image-box .image:last-child{
    margin-bottom: 0px;
  }

  .destination-details-content .photo-gallery .image-box .image{
    float: none;
    margin: 0px 0px 30px 0px;
  }

  .destination-details-content .photo-gallery .image-box .image:last-child{
    margin-bottom: 0px;
  }

  .destination-details-content .inner-box .image-box .image{
    float: none;
    margin: 0px 0px 30px 0px;
  }

  .destination-details-content .inner-box .image-box .image:last-child{
    margin-bottom: 0px;
  }


}

@media only screen and (max-width: 599px){

  .booking-process-content .process-label li{
    width: 100% !important;
  }

  .booking-form .message-btn .theme-btn{
    padding: 19.5px 15px;
  }

  .image_block_1 .image-box .image-2{
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .image_block_1 .image-box{
    padding: 0px;
    max-width: 400px;
    margin: 0 auto;
  }

  .image_block_1 .image-box .video-content{
    position: relative;
    bottom: 0px;
    margin-bottom: 30px;
    width: 100%;
  }

  .about-section .content_block_1 .content-box{
    margin-left: 0px;
  }

  .map-section{
    padding-left: 30px;
    padding-right: 30px;
  }

  .footer-bottom .copyright,
  .footer-bottom .footer-nav{
    float: none;
    display: block;
    text-align: center;
  }

  .destination-details-content .country-details .details-list li span{
    display: block;
    border: none;
    padding-bottom: 0px;
  }

  .destination-details-content .country-details .details-list li{
    padding-bottom: 25px;
  }

  .tour-details-content .overview-inner .overview-list > li span{
    display: block;
    padding-bottom: 0px;
    margin: 0px;
  }

  .tour-details-content .overview-inner .overview-list > li{
    padding-bottom: 25px;
  }

  .tour-details-content .overview-inner .overview-list > li:before{
    display: none;
  }

  .tour-details-content .overview-inner .overview-list li ul{
    display: block;
  }

  .tour-details-content .overview-inner .overview-list > li.clearfix span{
    float: none;
  }

  .tour-details-content .review-box{
    padding-left: 0px;
  }

  .tour-details-content .review-box .text{
    position: relative;
    width: 100%;
    background: transparent;
  }

  .tour-details-content .review-box{
    padding-top: 30px;
  }

  .blog-details-content .image-box{
    max-width: 250px;
    margin: 30px auto;
  }

}


@media only screen and (max-width: 499px){

  .mobile-menu{
    width: 100%;
  }

  .booking-form .form-group,
  .booking-form .message-btn{
    padding: 0px;
    width: 100%;
  }

  .video-style-two .inner-container .inner-box{
    padding-left: 15px;
    padding-right: 15px;
  }

  .banner-section.style-three .form-inner{
    padding-bottom: 50px;
  }

  .tour-block-two .inner-box{
    padding-left: 30px;
  }

  .tour-block-two .inner-box .image-box{
    position: relative;
    left: 0px;
    top: 0px;
    margin-bottom: 20px;
  }

  .destination-details-content .comment-box .comment-form,
  .tour-details-content .comment-box .comment-form{
    padding-left: 30px;
    padding-right: 30px;
  }

  .tour-details-content .inner-box .text .info-list li{
    width: 100% !important;
  }

  .tour-details-content .inner-box .text .info-list li:before{
    display: none;
  }

  .tour-details-content .review-box .progress-content{
    padding-left: 30px;
    padding-right: 30px;
  }

  .register-section .inner-box .form-inner{
    padding-left: 30px;
    padding-right: 30px;
  }

  .error-section .inner-box h1{
    font-size: 150px;
    line-height: 150px;
  }

  .blog-details-content .post-share-option .text,
  .blog-details-content .post-share-option .social-links{
    float: none;
    display: block;
  }

  .blog-details-content .comments-form-area .form-inner,
  .contact-section .form-inner{
    padding: 50px 30px;
  }

}


@media only screen and (max-width: 399px){

  .main-header .outer-box{
    display: block;
  }

  .main-header .logo-box{
    display: block;
    text-align: center;
  }

  .main-header .logo-box .logo{
    margin: 0 auto;
  }

  .menu-right-content{
    position: absolute;
    left: 0px;
    bottom: -12px;
    z-index: 1;
  }

  .banner-section{
    padding-top: 200px;
  }

  .main-header .search-box-outer .dropdown-menu{
    left: 0px !important;
    width: 300px;
  }

  .sec-title h2{
    font-size: 30px;
    line-height: 38px;
  }

  .map-section .map-inner .map-content .single-location-box .address-box{
    width: 290px;
    left: -46px;
  }

  .main-header.style-two .header-lower .logo-box .bg-layer{
    display: none;
  }

  .main-header.style-two .header-lower .logo-box{
    padding-right: 0px;
  }

  .main-header.style-two .header-lower{
    padding-bottom: 30px;
  }

  .tour-block-one .inner-box .lower-content{
    padding-left: 30px;
    padding-right: 30px;
  }

  .video-style-two .inner-container .inner-box h2{
    font-size: 30px;
    line-height: 38px;
  }

  .main-header.style-three{
    padding: 0px 15px;
  }

  .main-header.style-three .header-lower .menu-right-content{
    display: none;
  }

  .main-header.style-three .header-lower .menu-area{
    float: none;
    display: block;
  }

  .news-block-one .inner-box .lower-content h3{
    font-size: 22px;
    line-height: 26px;
  }

  .banner-section.style-four{
    padding-top: 200px;
  }

  .banner-style-five{
    padding-top: 140px;
  }

  .instagram-section{
    padding-top: 0px;
  }

  .page-title .content-box h1{
    font-size: 40px;
    line-height: 50px;
  }

  .tours-page-section .item-shorting .right-column{
    max-width: 190px;
  }

  .tours-page-section .item-shorting .right-column .short-box{
    margin-bottom: 10px;
  }

  .tours-page-section .item-shorting .right-column .menu-box{
    max-width: 110px;
    margin: 0 auto;
    float: none;
  }

  .tour-details-content .tour-plan .single-box{
    padding-left: 100px;
  }

  .tour-details-content .tour-plan .single-box h3{
    font-size: 20px;
    line-height: 24px;
  }

  .news-block-one .inner-box .lower-content h2{
    font-size: 24px;
    line-height: 30px;
  }

}